
#logoNOXVR {
    width: 80%;
    vertical-align: middle;
    cursor: pointer;
}

.makeMeScrollable {
    width: 40%;
    position: fixed;
    top: 0;
    left: 30%;
}

.makeMeScrollable img {
    max-width: 100%;
    height: 0;
    margin-left: auto;
    margin-right: auto;
}

.titleContainer {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%;
    height: 100%;
}

.titleContainer:hover {
    background: rgba(255,255,255,0.5);
}

.slideImage h2 {
    width: 100%;
    position: absolute; 
    top: 0; 
    left: 0; 
    font-size: 2vw;
    margin: 0;
    text-align: center;
    color: transparent;
    text-decoration: none;
}

.titleContainer:hover h2 {
    color: black;
}

#seeMore {
    text-align: center;
    font-size: 1vw;
    color: rgba(31,78,121,1);
    position: absolute;
    background-color: rgba(31,78,121,0.5);
    width: 10%;
    bottom: 0%;
    left: 45%;
    cursor: pointer;
}

#seeMore:hover {
    color: white;
}

#seeMore a {
    color: rgba(31,78,121,1);
    text-decoration: none;
}

#seeMore:hover a {
    color: white;
}
