{% extends '::layout.html.twig' %}

{% block titrePage %} Licences {% endblock %}

{% block messageAccueil %}Licences{% endblock %}

{% block contenu %}

    <div id="DivIframeLicences">
        <iframe id='licencesIframe' src="http://192.168.69.11:7019/EasyAdmin2/#{'include_obsolete':false,'server':'','vendor':'','license_type':[],'additional_key':'','feature':[],'products':[],'timeformat':'dd/mm/yyyy hh:mm:ss','timezone':'W. Europe Standard Time','module':'ea-licenses','windowSize':{'width':932,'height':600,'maximized':false}}"></iframe>
    </div>

{% endblock %}