{% extends "::layout.html.twig" %}

{% block titrePage %} Licences {% endblock %}

{% block messageAccueil %}Licences{% endblock %}

{% block contenu %}

    <p style='margin: auto; width: 70%; text-align: center; font-size: 2vw; color: red'> En cours d'implémentation... </p>

{% endblock %}
