/* Ressources menu */
.vignette-section:hover .caption{
       font-weight: bold;
}

/* Large desktops and laptops */
@media (min-width: 1200px) {
    .caption{
        font-size: 9px;
    } 
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .caption{
        font-size: 9px;
    } 
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    .caption{
        font-size: 9px;
    } 
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    .caption{
        font-size: 11px;
    } 
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
    .caption{
        font-size: 11px;
    } 
}


/* Ressources - CSS menu accordéon  */ 

.mb-0{
    border-bottom: 1px solid #1F4E79;
}

#accordion a {
    text-decoration: none;
    color: #1F4E79;
    font-size: 15px;
}

#accordion h4 {
    padding-top: 20px;
}

.menuImg, .menuImgDown{
    height: 25px;
    float: right;
}

.panel{
    margin: 0px;
    background-color: rgba(255,255,255,0);
    border: none;
    box-shadow: none;
}