<!Doctype html>

<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <style>
            body {
                background-color: #fff;
                text-align: center;
                color: black;
            }

            .container {
                width: 70%;
                margin: auto;
                padding: 0.5em;
                padding-bottom: 1em;
                background-color: white;
                -moz-border-radius: 5px; 
                -webkit-border-radius: 5px; 
                border-radius: 5px;
                text-align: left;
            }

        {% block style %}{% endblock %}
    </style>
</head>
<body>
    <table class="container">
        <thead>
            <tr>
                <th>
                    <img src="{{ absolute_url(asset('bundles/noxintranetcommunication/images/bandeau.png')) }}" alt="Bandeau NOX">
                </th>
            </tr>
        </thead>
        <tbody>
            {% block mail_content %}
            {% endblock %}
        </tbody>
    </table>
</body>
</html>