{% extends "::layout.html.twig" %}

{% block titrePage %} Gestion des propositions {% endblock %}

{% block messageAccueil %}Gestion des propositions{% endblock %}

{% block contenu %} 

    <table id='tableValidationProposition' >
        {% for proposition in propositions %}
            <tr>
                <td>
                    {{ DA2[proposition.DA2].Firstname }} {{ DA2[proposition.DA2].Lastname }}
                </td>
                <td>
                    <label for='validateProposition' style='vertical-align: middle;'>Valider</label>
                    <input type='checkbox' name='validateProposition' style='vertical-align: middle;'>
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}