{% extends "::layout.html.twig" %}

{% block titrePage %} Prestations internes {% endblock %}

{% block messageAccueil %}Prestations internes{% endblock %}

{% block contenu %}
    <div style='width: 70%; margin: auto; text-align: center;'>
        <ul class='DRHAdministrationList'>
            <li>
                <a href='{{ path('nox_intranet_prestation_search') }}'>Faire une demande de prestation interne</a>
            </li>
            <li>
                <a href='{{ path('nox_intranet_demande_prestation_perso_reporting') }}'>Consulter mes demandes de prestation internes</a>
            </li>
            <li>
                <a href='{{ path('nox_intranet_propositions_reporting') }}'>Consulter mes propositions de prestations internes</a>
            </li>
            <li>
                <a href='{{ path('nox_intranet_demande_prestation_reporting') }}'>Consulter la liste des demandes de prestations internes</a>
            </li>
        </ul>
    </div>
{% endblock %}
