<style>
    html {
        padding: 0;
        margin: 0;
    }

    body {
        padding: 0;
        margin: 0;
        background-color: #BDBDBD;
    }
</style>

<html>
    <header>
        <title>Fichiers justificatifs</title>
    </header>

    <body>

    </body>
</html>
