{% extends "Emails/base_email_template.html.twig" %}

{% block title %}Validation développement professionnel{% endblock %}

{% block mail_content %}
    <tr>
        <td>
            <p>
                Le {{ valideurGrade }} a validé l’entretien de Développement Professionnel de {{ collaborateur.Firstname }} {{ collaborateur.Lastname }}, <a href='{{ absolute_url(path('nox_intranet_developpement_professionnel_formulaire', {collaborateurUsername: collaborateur.Username})) }}'>cliquez sur le lien suivant</a> pour avoir accès à la lecture de cet entretien et à la validation.
            </p>
        </td>
    </tr>
{% endblock %}