#header-container {
    background-color: #1F4E79;
}

#image_bandeau {
    margin: 0 auto;
}

.vertical-align {
    display: table-cell;
    vertical-align: middle;
    float: none;
}

#profil_picture {
    padding-top: 10px;
}


