{% extends "::layout.html.twig" %}

{% block titrePage %}
    Administration news SI
{% endblock %}

{% block messageAccueil %}Administration news SI{% endblock %}

{% block contenu %}

    <div class="iconContener">

        <div id="menuAdminNewsSI" class='menuAdmin'>
            <h3> Interface de gestion de contenu </h3>
            <a onclick="openFichiersPopUpWindow('http://' + document.location.hostname + '/Symfony/web/app.php/elfinder/newsSI', 'Gestionnaire de fichiers - News SI');"> 
                <h3>  Ouvrir le gestionnaire de fichier </h3> 
            </a>
        </div>

    </div>


{% endblock %}
{# empty Twig template #}
