{% extends "::layout.html.twig" %}

{% block titrePage %}
    Administration news SI
{% endblock %}

{% block messageAccueil %}Administration news SI{% endblock %}

{% block contenu %}

    <div class="iconContener">

        <div id="menuAdminNewsSI" class='menuAdmin'>
            <h3> Interface de gestion de contenu </h3>
            <h3> <a href="#"> Ouvrir le gestionnaire de fichier </a> </h3>
        </div>

    </div>


{% endblock %}
{# empty Twig template #}
