{% extends "::layout.html.twig" %}

{% block titrePage %}
    Pdf
{% endblock %}

{% block contenu %}

    <div>


        {% for label in labels %}

            {{ label }} <br />

        {% endfor %}

    </div>

{% endblock %}
