{% extends "::layout.html.twig" %}

{% block titrePage %} Ticket {% endblock %}

{% block contenu %}

    <div class="selectionAction">

        <h2> Veuillez séléctionner une action. </h2>

        <ul>
            <li> <a href= {{ path('nox_intranet_ticket_new') }} > Poster un nouveau ticket </a> </li>
            <li> <a href= {{ path('nox_intranet_mes_tickets') }} > Consulter mes tickets </a> </li>
        </ul>

    </div>

{% endblock %}