html, body {
    height: 100%;
}

body {
    background-color: rgb(242,242,242);
    overflow: hidden;
}

#main_container {
    height: 100%;
}

.bandeau_nox_header {
    width: 100%;
}

#google_search_form {
    margin-right: 15px;
    padding-right: 0px;
}

#menu, #menu_mobile {
    margin-bottom: 0;
    /*padding-right: 15px;*/
    border: 1px solid white;
    border-bottom: none;
    border-radius: 0;
}

#menu .container-fluid {
    padding: 0;
}

.menu_section a {
    border-right: 1px solid white;
}

.menu_section a:hover {
    background-color: white;
    color: #1F4E79;
}

#menu_wrapped_container, #menu_wrapped_container li {
    width: 100%;
}

.menu_dropdown_selector:hover, .menu_dropdown_selector:focus {
    color: white !important; 
    background-color: #1F4E79 !important; 
}

.menu_dropdown_ul li a {
    color: white;
}

.menu_dropdown_ul li a:hover {
    color: #1F4E79;
}

.menu_mobile_dropdown_ul {
    background-color: white !important;
    border-radius: 0;
}

.menu_mobile_dropdown_ul a {
    color: #1F4E79 !important;
    background-color: white !important;
}

.menu_mobile_dropdown_ul a:hover {
    color: white !important;
    background-color: #1F4E79 !important;
}

#main_content_row {
    height: 100%;
}

#main_content_frame {
    height: 100%;
    background-origin: content-box;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: white;
    background-clip: content-box;
}

#central_content_row {
    padding-bottom: 20px;
}

#central_content_container {
    height: 100%;
    overflow: auto;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.alert {
    margin-top: 20px;
}

.page_title {
    border-bottom: solid 1px rgb(192,0,0);
}

#footer_text {
    margin-top: 5px;
    margin-bottom: 5px;
}

.text-white {
    color: white;
}

.text-blue {
    color: #1F4E79;
}

.link-white, .link-white:visited {
    color: white;
    text-decoration: none;
}

.link-white:hover {
    color: #b2b2b2;
    text-decoration: none;
}

.link-light-blue, .link-light-blue:visited {
    color: #8fa6bc;
    text-decoration: none;
}

.link-light-blue:hover {
    color: #a5b8c9;
    text-decoration: none;
}

.background-blue {
    background-color: #1F4E79;
}

.background-transparent-white {
    background-color: rgba(255,255,255,0.6);
}

.tooltip.top .tooltip-arrow {
    border-top-color: black;
}

.tooltip.bottom .tooltip-arrow {
    border-bottom-color: black;
}

.tooltip.left .tooltip-arrow {
    border-left-color: black;
}

.tooltip.right .tooltip-arrow {
    border-right-color: black;
}

.tooltip-inner {
    color: black;
    background: white;
    border: solid 1px black;
}

.btn-primary {
    background-color: #1F4E79;
}

.btn-primary:hover {
    background-color: white;
    color: #1F4E79;
}