{% extends "::layout.html.twig" %}

{% block titrePage %} Edition {% endblock %}

{% block messageAccueil %}Administration assistant d'affaires{% endblock %}

{% block sousMessageAccueil %}{{ filename }}{% endblock %}

{% block contenu %}

    <div id='tableauExcel'>

        <p> <button> Annuler </button> <button onclick="exctractionTableau();"> Sauvegarder </button> </p>

        <table>
            <tr>
                <th></th>
                    {% for i in 'a'|upper..sheet.getHighestColumn %}
                    <th style='font-weight: bold'>{{ i }}</th>
                    {% endfor %}

                <th style='font-weight: bold' class="ajoutColonne">+</th>
            </tr>

            {% for row in sheet.getRowIterator %} 
                <tr>
                    <th style='font-weight: bold'>{{ loop.index }}</th>

                    {% for cell in row.getCellIterator %}
                        <td>{{ cell.getValue }}</td>
                    {% endfor %}

                </tr>

            {% endfor %}

            <tr>
                <th style='font-weight: bold' class="ajoutLigne">+</th>
            </tr>

        </table>

    </div>

{% endblock %}
