#retourIntranet {
	background-color: #021C2D;
	width: 100%;
	vertical-align: middle;
	padding: 1% 0% 1% 0%;
	color: white;
	text-align: left;
}

#retourIntranet a {
	margin-left: 1%;
	color: white;
}

#retourIntranet a:hover {
	text-decoration: underline;
}

