<!DOCTYPE HTML>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>
        Questionnaire de satisfaction client
    </title>
</head>

Madame, Monsieur,
<br />
<br />
La satisfaction de nos donneurs d’ordre est un pilier essentiel de la politique qualité NOX.<br />
Nos équipes ont pour objectif d’améliorer de manière constante nos prestations afin de vous apporter une réelle valeur ajoutée. <br />
Pour atteindre cette excellence, nous vous remercions de bien vouloir évaluer notre prestation, cela ne vous prendra qu'une minute. <br />
<br />
Merci pour votre précieuse contribution.
<br />
<br />
Pour accéder à l'enquête, veuillez cliquer sur le lien suivant :<br />
<br />
<a href="http://localhost/SatisfactionClient/index.php?cleQuestionnaire={{ envoi.CleEnvoiQuestioSatisfClient }}">Questionnaire de satisfaction | Groupe-NOX (lien google car questionnaire non en production)</a>
<br />
<br />
Cordialement,
<br />
<br />
(Ceci est un message automatique, merci de ne pas y répondre)