#matriceCompetenceTable_Div {
    width: 100%;
    margin: auto;
    margin-bottom: 2em;
    height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
}

#competenceTable, #infosSalariesTable {
    table-layout: fixed;
}

#matriceCompetenceTable {
    margin: auto;
    border-collapse: collapse;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

#matriceCompetenceTable, #matriceCompetenceTable tr, #matriceCompetenceTable th, #matriceCompetenceTable td {
    border: 1px solid black;
    text-align: center;
    font-size: calc(9px + 0.2vw);
    background-color: transparent;
}

#matriceCompetenceTable td {
    padding: 0.5em;
}

#matriceCompetenceTable th {
    background-color: rgba(31,78,121,0.8);
    color: white;
}

#matriceCompetenceTable th.header {
    padding-right: 1.5em;
    background-image: url("{{ asset('js/jquery.tablesorter/themes/blue/bg.gif') }}"); 
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}

#matriceCompetenceTable th.headerSortUp { 
    background-image: url("{{ asset('js/jquery.tablesorter/themes/blue/asc.gif') }}"); 
} 

#matriceCompetenceTable th.headerSortDown { 
    background-image: url("{{ asset('js/jquery.tablesorter/themes/blue/desc.gif') }}"); 
}

#matriceCompetenceTable td {
    background-color: rgba(255,255,255,0.8);
}

.categorie_selection_section {
    display: inline-block;
    box-sizing: border-box;
    width: calc(100% / 3);
    font-size: calc(11px + 0.2vw);
    vertical-align: top;
    padding: 1em;
}

.competences_ul {
    margin: 0;
    padding-left: 1em;
    font-size: calc(11px + 0.2vw);
    list-style-type: none;
}

.categorie_selection_title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: calc(12px + 0.2vw);
}

#categorie_selection_div {
    width: 60%;
    margin: auto;
    font-size: 0;
    background-color: rgba(255,255,255, 0.6);
    border: 2px solid #1F4E79;
}

.competences_li label {
    font-size: calc(11px + 0.2vw);
}

#categorie_selection_foldbar {
    background-color: rgba(31,78,121,0.8);
}

.categorie_selection_foldbar_indicator {
    display: inline-block;
    width: 50%;
    box-sizing: border-box;
    text-align: right;
    font-size: calc(12px + 0.2vw);
    padding: 0.25em 1em 0.25em 0.25em;
    margin: 0;
    color: white;
}

#categorie_selection_foldbar_text {
    display: inline-block;
    width: 50%;
    box-sizing: border-box;
    font-size: calc(12px + 0.2vw);
    padding: 0.25em 0.25em 0.25em 2em;
    margin: 0;
    color: white;
}

#categorie_selection_box {
    height: 250px;
    overflow-y: auto;
    border-top: 2px solid #1F4E79;
}

.competence_td {
    font-size: 0;
}

.competence_container {
    display: inline-block;
    padding: 0.25em 0.10em;
}

.competence_principale_div, .competence_secondaire_div {
    display: inline-block;
    padding: 0.25em;
    margin: 0.1em;
    font-size: calc(11px + 0.2vw);
    border-radius: 5px;
    text-transform: capitalize;
}

.competence_principale_div {
    background-color: #1f4e79;
    color: white;
}

.competence_secondaire_div {
    background-color: #5d9bd5;
    color: white;
}

#matriceCompetence_Container {
    position: relative;
    height: 500px;
    width: 100%;
    margin-top: 2em;
}

.fixedHeaderCell {
    position: absolute;
    top: 0;
    font-size: calc(9px + 0.2vw);
    cursor: pointer;
}

#header-background {
    background-color: rgba(31,78,121,0.8);;
    height: 30px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;   
}

#matriceCompetenceTable thead tr th {
    font-size: 0;
    padding: 0;
}

#selected_competence_text {
    margin: 0;
    padding: 0.5em;
    background-color: rgba(255,255,255,0.8);
    border-top: 1px solid #1F4E79;
    font-size: calc(11px + 0.2vw);   
}

#select_deselect_competences {
    margin: 0;
    padding: 0.5em;
    padding-bottom: 0;
    font-size: calc(11px + 0.2vw);   
    cursor: pointer;
}

#select_deselect_competences span:hover {
    text-decoration: underline;
}

#recherche_avance_div {
    width: 70%;
    margin: auto;
    background-color: rgba(31,78,121,0.8);
}

#recherche_avance_form {
    background-color: rgba(31,78,121,0.8);
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0.1em;
    padding-top: 20px;
    border: none;
    font-size: calc(9px + 0.2vw);
}

#recherche_avance_form p {
    display: inline-block;
    padding: 0 0.5em;
}

#recherche_avance_form label {
    color: white;
}

#recherche_avance_form input, #recherche_avance_form select {
    font-size: calc(9px + 0.2vw);
}

#recherche_avance_form input[type='radio'] {
    vertical-align: middle;
    margin: 0em;
}

label[for='match_all'], label[for='match_any'] {
    margin: 0 1em;
}

.select2-container .select2-selection--multiple {
    min-height: 0;
}

#loading_tr td {
    background-image: url("{{ asset('bundles/noxintranetuser/images/loading.gif') }}");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 5em;
}



/* Entretien annuel de développement professionnel */

#formulaireDeveloppementProfessionnelDiv #infoGenerale tbody {
    border: 2px solid #000;
}

#formulaireDeveloppementProfessionnelDiv #infoGenerale td {
    border: 1px solid #000;
}


#formulaireDeveloppementProfessionnelDiv #questionsTable1 th{
    text-align: center;
    font-weight: bold;
}

#formulaireDeveloppementProfessionnelDiv #questionsTable1 th, td{
    border: 1px solid #000;
}

#formulaireDeveloppementProfessionnelDiv #questionsTable2 th{
    text-align: center;
    font-weight: bold;
}

#formulaireDeveloppementProfessionnelDiv #questionsTable2 th, td{
    border: 1px solid #000;
}

#formulaireDeveloppementProfessionnelDiv #questionsTable3 th{
    text-align: center;
    font-weight: bold;
}

#formulaireDeveloppementProfessionnelDiv #questionsTable3 th, td{
    border: 1px solid #000;
} 
#formulaireDeveloppementProfessionnelDiv #questionsTable4 th{
    text-align: center;
    font-weight: bold;
}

#formulaireDeveloppementProfessionnelDiv #questionsTable4 th, td{
    border: 1px solid #000;
} 



#formulaireDeveloppementProfessionnelDiv #questionsTable1 textarea{
    width: 100%;
    resize: none;
    border: none;
} 

#formulaireDeveloppementProfessionnelDiv {
    width: 70%;
    margin: auto;
}

#formulaireDeveloppementProfessionnelDiv form {
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
}

#infoGeneraleTable {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid black;
}

#infoGeneraleTable tr, #infoGeneraleTable td {
    border-collapse: collapse;
    border: 1px solid black;
}

#infoGeneraleTable td {
    padding: 1em;
    color: black;
}

#infoGeneraleTable div:not(.cellInputDiv) {
    display: inline-block;
}

.cellInputDiv {
    display: table;
    width: 100%;
}

.cellInputDiv label {
    display: table-cell;
    width: 1px;
    white-space: pre;
}

.cellInputDiv input[type='text'], .cellInputDiv input[type='number'] {
    display: table-cell;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
}

h4 {
    text-decoration: underline;
    color: rgb(0 ,32, 96);
    font-size: 1.2em;
}

.collaborateurTd, .collaborateurTextarea {
    background-color: rgb(218, 238, 243);
}

.managerTd, .managerTextarea {
    background-color: rgb(217, 217, 217);
}

.neutreTd, .neutreTextarea {
    background-color: white;
}

.questionsTable {
    table-layout: fixed;
    width: 100%;
}

.questionsTable, .questionsTable tr, .questionsTable td {
    border-collapse: collapse;
    border: 1px solid black;
}

.questionsTable td {
    width: 50%;
    padding-left: 0.5em;
    padding-right: 0.5em;
    color: black;
}

.questionsTable td textarea {
    display: block;
    box-sizing: border-box;
    width: 100%;
    resize: none;
    border: none;
}

.questionLibelle {
    display: block;
    font-style: italic;
    text-align: left;
}

.noWhiteSpaceTd {
    padding: 0.5% !important; 
    text-align: center;
}

.noWhiteSpaceTd select {
    width: 100%;
}


#questionsTable1 tbody tr:nth-child(3), #questionsTable1 tbody tr:nth-child(3) td {
    border-bottom: none;
}

#questionsTable1 tbody tr:nth-child(4), #questionsTable1 tbody tr:nth-child(4) td {
    border-top: none;
}

#questionsTable1 tbody tr:nth-child(5), #questionsTable1 tbody tr:nth-child(5) td {
    border-top: none;
    border-bottom: none;
}

#questionsTable1 tbody tr:nth-child(6), #questionsTable1 tbody tr:nth-child(6) td {
    border-top: none;
}

#questionsTable1 tr:nth-child(n+8):nth-child(-n+10), #questionsTable1 tr:nth-child(n+8):nth-child(-n+10) td {
    border-top: none;
    border-bottom: none;
}
#questionsTable1 tbody tr:nth-child(11), #questionsTable1 tbody tr:nth-child(11) td {
    border-top: none;
}

#questionsTable1 tr:nth-child(n+13):nth-child(-n+16), #questionsTable1 tr:nth-child(n+13):nth-child(-n+16) td {
    border-top: none;
    border-bottom: none;
}

#questionsTable1 tr:nth-child(n+18):nth-child(-n+19), #questionsTable1 tr:nth-child(n+18):nth-child(-n+19) td {
    border-top: none;
    border-bottom: none;
}

#questionsTable2 tr:nth-child(3), #questionsTable2 tr:nth-child(3) td {
    border-top: none;
    border-bottom: none;
}

#questionsTable2 tr:nth-child(4), #questionsTable2 tr:nth-child(4) td {
    border-top: none;
}

#questionsTable3 tr:nth-child(4), #questionsTable3 tr:nth-child(4) td {
    border-top: none;
    border-bottom: none;
}
#questionsTable3 tr:nth-child(5), #questionsTable3 tr:nth-child(5) td {
    border-top: none;
}

#questionsTable3 tr:nth-child(n+7):nth-child(-n+13), #questionsTable3 tr:nth-child(n+7):nth-child(-n+13) td {
    border-top: none;
    border-bottom: none;
}

#questionsTable4 tr:nth-child(n+3):nth-child(-n+4), #questionsTable4 tr:nth-child(n+3):nth-child(-n+4) td {
    border-top: none;
    border-bottom: none;
}

#questionsTable5 {
    margin-bottom: 2em;
}

#questionsTable6 {
    margin-bottom: 1em;
}

#formValidationParagraph {
    margin: 0;
    text-align: center;
}

#form_Valider {
    margin-bottom: 5em;
    padding: 1em;
}

#form_Valider:hover {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7db9e8+0,daeef3+100 */
    background: #7db9e8; /* Old browsers */
    background: -moz-linear-gradient(top,  #7db9e8 0%, #daeef3 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #7db9e8 0%,#daeef3 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #7db9e8 0%,#daeef3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#daeef3',GradientType=0 ); /* IE6-9 */
}

#formationTable {
    border-collapse: collapse;
    width: 100%;
}

#formationTable, #formationTable tr, #formationTable td {
    border: 1px solid black;
}

#formationTable td {
    padding: 0;
    text-align: center;
    background-color: rgb(217, 217, 217); 
}

#formationTable tr input[type='text'] {
    display: block;
    box-sizing: border-box;
    border: none;
    width: 100%;
    height: 100%;
}

.deleteObjectif {
    color: blue;
    cursor: pointer;
}

.deleteObjectif:hover {
    text-decoration: underline;
}

#addObjectif {
    color: blue;
    cursor: pointer;
}

#addObjectif:hover {
    text-decoration: underline;
}



/* consultation de la matrice de competance  */ 

#tableauConsultation{
    text-align: center;
    border: 2px solid #000;
}
#tableauConsultation th{
    text-align: center;
}
#tableauConsultation tr th{
    border-bottom-color: #000;
}
#tableauConsultation thead{
    font-size: 20px;
    background-color: #1F4E79;
    color: #fff;
}
#tableauConsultation tr{
    border: 1px solid #000;
}
#tableauConsultation tbody tr:hover{
    background-color: #1F4E79;
    color: #fff;
}
#tableauConsultation tbody td{
    border: none;
}
