#matriceCompetenceTable_Div {
    width: 100%;
    margin: auto;
    margin-bottom: 2em;
    height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
}

#competenceTable, #infosSalariesTable {
    table-layout: fixed;
}

#matriceCompetenceTable {
    margin: auto;
    border-collapse: collapse;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

#matriceCompetenceTable, #matriceCompetenceTable tr, #matriceCompetenceTable th, #matriceCompetenceTable td {
    border: 1px solid black;
    text-align: center;
    font-size: calc(9px + 0.2vw);
    background-color: transparent;
}

#matriceCompetenceTable td {
    padding: 0.5em;
}

#matriceCompetenceTable th {
    background-color: rgba(31,78,121,0.8);
    color: white;
}

#matriceCompetenceTable th.header {
    padding-right: 1.5em;
    background-image: url("{{ asset('js/jquery.tablesorter/themes/blue/bg.gif') }}"); 
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}

#matriceCompetenceTable th.headerSortUp { 
    background-image: url("{{ asset('js/jquery.tablesorter/themes/blue/asc.gif') }}"); 
} 

#matriceCompetenceTable th.headerSortDown { 
    background-image: url("{{ asset('js/jquery.tablesorter/themes/blue/desc.gif') }}"); 
}

#matriceCompetenceTable td {
    background-color: rgba(255,255,255,0.8);
}

.categorie_selection_section {
    display: inline-block;
    box-sizing: border-box;
    width: calc(100% / 3);
    font-size: calc(11px + 0.2vw);
    vertical-align: top;
    padding: 1em;
}

.competences_ul {
    margin: 0;
    padding-left: 1em;
    font-size: calc(11px + 0.2vw);
    list-style-type: none;
}

.categorie_selection_title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: calc(12px + 0.2vw);
}

#categorie_selection_div {
    width: 60%;
    margin: auto;
    font-size: 0;
    background-color: rgba(255,255,255, 0.6);
    border: 2px solid #1F4E79;
}

.competences_li label {
    font-size: calc(11px + 0.2vw);
}

#categorie_selection_foldbar {
    background-color: rgba(31,78,121,0.8);
}

.categorie_selection_foldbar_indicator {
    display: inline-block;
    width: 50%;
    box-sizing: border-box;
    text-align: right;
    font-size: calc(12px + 0.2vw);
    padding: 0.25em 1em 0.25em 0.25em;
    margin: 0;
    color: white;
}

#categorie_selection_foldbar_text {
    display: inline-block;
    width: 50%;
    box-sizing: border-box;
    font-size: calc(12px + 0.2vw);
    padding: 0.25em 0.25em 0.25em 2em;
    margin: 0;
    color: white;
}

#categorie_selection_box {
    height: 250px;
    overflow-y: auto;
    border-top: 2px solid #1F4E79;
}

.competence_td {
    font-size: 0;
}

.competence_container {
    display: inline-block;
    padding: 0.25em 0.10em;
}

.competence_principale_div, .competence_secondaire_div {
    display: inline-block;
    padding: 0.25em;
    margin: 0.1em;
    font-size: calc(11px + 0.2vw);
    border-radius: 5px;
    text-transform: capitalize;
}

.competence_principale_div {
    background-color: #1f4e79;
    color: white;
}

.competence_secondaire_div {
    background-color: #5d9bd5;
    color: white;
}

#matriceCompetence_Container {
    position: relative;
    height: 500px;
    width: 100%;
    margin-top: 2em;
}

.fixedHeaderCell {
    position: absolute;
    top: 0;
    font-size: calc(9px + 0.2vw);
    cursor: pointer;
}

#header-background {
    background-color: rgba(31,78,121,0.8);;
    height: 30px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;   
}

#matriceCompetenceTable thead tr th {
    font-size: 0;
    padding: 0;
}

#selected_competence_text {
    margin: 0;
    padding: 0.5em;
    background-color: rgba(255,255,255,0.8);
    border-top: 1px solid #1F4E79;
    font-size: calc(11px + 0.2vw);   
}

#select_deselect_competences {
    margin: 0;
    padding: 0.5em;
    padding-bottom: 0;
    font-size: calc(11px + 0.2vw);   
    cursor: pointer;
}

#select_deselect_competences span:hover {
    text-decoration: underline;
}

#recherche_avance_div {
    width: 70%;
    margin: auto;
    background-color: rgba(31,78,121,0.8);
}

#recherche_avance_form {
    background-color: rgba(31,78,121,0.8);
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0.1em;
    padding-top: 20px;
    border: none;
    font-size: calc(9px + 0.2vw);
}

#recherche_avance_form p {
    display: inline-block;
    padding: 0 0.5em;
}

#recherche_avance_form label {
    color: white;
}

#recherche_avance_form input, #recherche_avance_form select {
    font-size: calc(9px + 0.2vw);
}

#recherche_avance_form input[type='radio'] {
    vertical-align: middle;
    margin: 0em;
}

label[for='match_all'], label[for='match_any'] {
    margin: 0 1em;
}

.select2-container .select2-selection--multiple {
    min-height: 0;
}

#loading_tr td {
    background-image: url("{{ asset('bundles/noxintranetuser/images/loading.gif') }}");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 5em;
}
