{% extends "::layout.html.twig" %}

{% block style %} 
    {% stylesheets '@NoxIntranetUserBundle/Resources/public/css/user.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block titrePage %} Tableau des consultations {% endblock %}

{% block messageAccueil %}Tableau des consultations{% endblock %}

{% block contenu %}
    <table id="tableauConsultation" class="table table-responsive table-hover">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Nb Consultation</th>
                <th>Nb Edition</th>
            </tr>
        </thead>
        <tbody>
          {% for user, statistique in statistiques %}
              <tr>
                  <td>{{ user }}</td>
                  <td>{{ statistique.Nb_Consultation }}</td>
                  <td>{{ statistique.Nb_Edition }}</td>
              </tr>
          {% endfor %}
        </tbody>
        
    </table> 
{% endblock %}