{% extends "::layout.html.twig" %}

{% block titrePage %}
    Communication marketing
{% endblock %}

{% block messageAccueil %}Communication marketing{% endblock %}

{% block contenu %}

    <div class="sousMessageAcceuil"> 
        <h4 onclick="openDetailsPopUpWindow('http://' + document.location.hostname + '/Symfony/web/app.php/elfinder/noxALaConqueteLecture', 'Nox à la conquête');"> Nox à la conquête </h4>
    </div>
    
    <div class="sousMessageAcceuil"> 
        <h4 onclick="openDetailsPopUpWindow('http://' + document.location.hostname + '/Symfony/web/app.php/elfinder/ilYAForcementPlusSimpleLecture', 'Il y a forcément plus simple');"> Il y a forcément plus simple </h4>
    </div>
    
    <div class="sousMessageAcceuil"> 
        <h4 onclick="openDetailsPopUpWindow('http://' + document.location.hostname + '/Symfony/web/app.php/elfinder/noxFournisseurDeTalentsLecture', 'Nox fournisseur de talents');"> Nox fournisseur de talents </h4>
    </div>
    
    <div class="sousMessageAcceuil"> 
        <h4 onclick="openDetailsPopUpWindow('http://' + document.location.hostname + '/Symfony/web/app.php/elfinder/nos5ValeursLecture', 'Nos 5 valeurs');"> Nos 5 valeurs </h4>
    </div>

{% endblock %}

{# empty Twig template #}
