{% extends "::layout.html.twig" %}

{% block titrePage %} Compteur SAP GX {% endblock %}

{% block messageAccueil %} Numéro Affaire{% endblock %}

{% block contenu %} 
    
    <style>
        table{
            text-align: center;
            width: 50%;
            margin-left: 25%;
        }
        table td{
            border: 1px solid #000;
            padding: 5px;
        }
        .increment a{
            text-decoration: none;
            color: #000;
        }
        .increment{
            text-align: center;
            margin-top: 15px;
            margin-left: 25%;
            text-transform: uppercase;
            padding: 5px;
        }
    </style>

    <table>
        <tbody>
            <tr>
                <td>{{ infoEntite.entite }}</td>
                <td>{{ infoEntite.serie }}</td>
                <td>{{ numero }}</td>
            </tr>
        </tbody>
    </table>
          <button class="increment"><a href="{{ path('nox_intranet_ressources_increment_compteur_SAP_GX', { 'abreger': infoEntite.abreger }) }}">Numéro d'affaire utilisé</a></button>  
            
    
{% endblock %}